.header {
    background-image: url(../images/card-1.png);
    @extend %background-image;
        max-width: 100%;
        height: 560px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 250px;
    }

    &__container {
        @include flex(center, stretch);
        height: 100%;
        @media screen and (min-width: $screen-tablet) {
          justify-content: flex-start;
          align-items: center;
        }
      }
      &__content {
        width: 100%;
        @include flex(center, center, column);
        padding-bottom: 42px;
        @media screen and (min-width: $screen-iphone) {
          padding-bottom: 52px;
        }
        @media screen and (min-width: $screen-tablet) {
          padding-bottom: 0;
          display: block;
        }
      }
      &__title {
      font-size: 48px;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 15px;
  }
      &__text {
        @include text($H200, 300);
        font-size: 22px;
        color: #fff;
        font-family: 'Myriad Pro';
        font-weight: 300;
        @media screen and (min-width: $screen-tablet) {
          text-align: left;
        }
      }
      &__scroll {
            outline: none;
        }
        