<section class="castle" id="castle">
    <div class="wrapper">
       <div class="castle__block">
          <div class="castle__left">
             <h3>Why Choose Us</h3>
             <p>Tion and dislike men who are so beguiled and demoralized by<br>desire by the charms of pleasure of the
                moment, so blinded by<br> desire, that they cannot foresee </p>
 
             <p class="castle__left-paragrarh">Ddislike men who are so beguiled and demoralized by the charms<br>of
                pleasure of the moment, so blinded by desire, that.</p>
 
             <div class="buttons"><a href="#">Explore Places</a></div>
          </div>
          <div class="castle__right">
             <img class="card1" src="./img/card2.png" alt="haus">
             <img class="card2" src="./img/card1.png" alt="bg">
          </div>
       </div>
    </div>
 </section>
 