<footer id="footer" class="footer">
    <div class="footer-wrapper">
       <h1>Bhromaon</h1>
       <div class="subtitl">Safe Travel Anywhere</div>
       <div class="footer-icon">
          <a href="https://facebook.com/" target="_blank"><i class="Facebook"></i></a>
          <a href="https://twitter.com/" target="_blank"><i class="twitter"></i></a>
          <a href="https://www.linkedin.com/" target="_blank"><i class="linkedin"></i></a>
          <a href="https://www.youtube.com/" target="_blank"><i class="youtube"></i></a>
          <a href="https://www.pinterest.com/" target="_blank"><i class="pinterest"></i></a>
       </div>
    </div>
 </footer>