<header id="home" class="header">
   <div class="container header__container">
      <section class="header__content">
      <h1 class="header__title">Bhromaon</h1>
      <p class="header__text">Safe Travel Anywhere</p>
      <form>
         <input class="header__input input" placeholder="Search Your Travel Destination" type="search">
         <button class="submit" type="submit">search <i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
   </section>
      <div class="header__scroll">
         <p class="header__scroll">Scroll Down</p>
         <a href="#about" class="scroll header__scroll"><img src="./img/arrow-down.svg" alt="arrow"></a>
      </div>
   </div>
   <main id="nav">
      <nav class="navigation">
         <div class="container navigation__container">
           <h1 class="logo navigation__logo">Bhromaon</h1>
           
             <!-- Hack -->
               <span class="navigation__item">
                 <a class="navigation__link" href="#Who We Are">Who We Are</a>
               </span>
               <span class="navigation__item">
                 <a class="navigation__link" href="#What We Do">What We Do</a>
               </span>
               <span class="navigation__item">
                 <a class="navigation__link" href="#Travel With Us">Travel With Us</a>
               </span>
               <span class="navigation__item">
                 <a class="navigation__link" href="#Contact Us">Contact Us</a>
             </span>
         </div>
       </nav>
   </main>
</header>