<section class="mountains" id="mountains">
    <div class="wrapper-mountains">
       <div class="mountains-content">
          <div class="title">Spain</div>
          <div class="subtitle">Grand Spain Madrid</div>
          <p>But I must explain to you how all this mistaken idea of account to de-<br>nouncing pleasure and praising
             pain wasaccount born and I account<br>will give you a complete account of the system</p>
          <div class="buttons"><a href="#">Book Now</a></div>
       </div>
    </div>
 </section>