<section class="turist" id="turist">
    <h2>What Our Tourist Say</h2>
    <div class="wrapper-turist">
       <div class="turist-block__left">
          <img src="img/card-3.png" alt="turist">
       </div>
       <div class="turist-block__right">
          <h3>Sam Sumon</h3>
          <p><span><img src="" alt=""></span>But I must explain to you how all this mistaken idea of
             account to denouncinplea-<br>sure and praising pain But I must explain to you how all this mistaken idea
             of<br> account to nai denouncing
             pleasure and praising pain was account born and I<br> account will give you a complete account of the system
             was account born and I<br>account will give you a nai the complete account of the system</p>
       </div>
    </div>
 </section>