.bottom-line {
  width: 100%;
  height: 350px;
  background-color: $footer-line-bg-color;
  padding-bottom: 20px;
  @include flex-main(column);
  &__icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    &:hover {
      fill: $btn-bg-color;
    }
  }
  &__title {
    display: block;
    @include font($secondary-font, 24px, 400, $main-text-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 14px;
  }
  &__text {
    display: block;
    @include font($secondary-font, 16px, 300, $main-text-color);
    word-spacing: 5px;
    margin-bottom: 35px;
  }
  &__list {
    width: 200px;
    @include flex-main(row, space-between);
  }
}
