.button {
  cursor: pointer;
  width: 150px;
  height: 60px;
  background-color: $btn-bg-color;

  @include border(2px, solid, white);
  @include font($base-font, 14px, 300, $main-text-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 3px;
  padding-left: 15px;
  @include flex-main;
  &__ico {
    margin-left: 15px;
  }
}
