.content-box {
  width: auto;
  height: 370px;
  @include flex-main(column, space-evenly, center);

  padding: 30px;
  background-color: rgba(51, 51, 51, 0.9);
  @include media-q($phablet) {
    width: 541px;
    height: 370px;
    @include flex-main(column, space-evenly, flex-start);

    padding: 30px;
    background-color: rgba(51, 51, 51, 0.9);
  }

  &__country {
    @include font($secondary-font, 20px, 300, $content-box-text-color);
  }
  &__title {
    @include font($secondary-font, 20px, 300, $content-box-text-color);
    text-transform: uppercase;
  }
  &__text {
    @include font($secondary-font, 16px, 300, $content-box-text-color);
    line-height: 25px;
  }
  &__button {
    border: none;
    width: 225px;
    height: 62px;
    background: linear-gradient(45deg, #496bfe 40%, #5474fd 0%);
  }
  &__button:hover {
    background: linear-gradient(45deg, #496bfe 100%, #5474fd 0%);
  }
  &__button-text {
    @include font($base-font, 16px, 300, $main-text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
