.text-box {
  width: 100%;
  height: 683px;
  padding: 0 10px;
  @include flex-main(column, center, center);
  @include media-q($phablet) {
    width: 541px;
  }
  @include media-q($desktop-small) {
    width: 541px;
    height: 683px;
    @include flex-main(column, center, flex-start);
  }
  &__title {
    @include font($base-font, 36px, 300, $main-text-color);
    margin-bottom: 66px;
  }
  &__text {
    display: block;
    @include font($secondary-font, 16px, 300, $secondary-text-color);
    line-height: 26px;
    letter-spacing: 0.5px;
    margin-bottom: 48px;
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }
  &__button {
    border: none;
    width: 225px;
    height: 62px;
    background: linear-gradient(45deg, #496bfe 40%, #5474fd 0%);
  }
  &__button:hover {
    background: linear-gradient(45deg, #496bfe 100%, #5474fd 0%);
  }
  &__button-text {
    @include font($base-font, 16px, 300, $main-text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
