

.scroll {
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      &:after {
        transform: translateY(8px);
      }
    }
}
.scroll img {
    width: 12px;
    img {
        max-width: 100%;
        width: auto;
    }
}